.funeral-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 30px;
}

.funeral-card-upper-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.funeral-card-image {
  width: 100px;
  height: 100px;
  margin-right: 13px;
  border-radius: 10px;
}

.column_ {
  display: flex;
  flex-direction: column;
}
.funeral-card-descriptions {
  display: flex;
  flex-direction: column;
  font-family: "NotoSansKr-R";
}

.funeral-card-name {
  font-family: "NotoSanskr-R";
  font-size: 19px;
  font-weight: 500;
  color: #171717;

  letter-spacing: 0.78px;
  line-height: 2;
  margin-top:-10px;
}

.funeral-card-price {
  opacity: 0.9;
  font-family: "NotoSanskr-R";
  font-size: 16px;
  color: #171717;

  line-height: 1.44;
  letter-spacing: -0.64px;
}

.funeral-card-funeral-contents {
  font-family: "NotoSanskr-R";
  font-size: 14px;

  line-height: 1.37;
  letter-spacing: -0.82px;

  color: rgba(114, 114, 114, 0.9);
}

.score-heart-icon {
  color: #679cbd;
  padding-right: 0.3rm;
}
.funeral-card-socre-view {
  font-family: "NotoSanskr-R";
  font-size: 16px;
  color: #171717;
  opacity: 0.9;

  line-height: 1.44;
  letter-spacing: -0.64px;
}

.funeral-show-detail {
  opacity: 0.9;
  font-family: "NotoSanskr-R";
  font-size: 12.5px;
  line-height: 1.84;
  letter-spacing: -0.5px;
  color: rgba(23, 23, 23, 0.9);
}

/* mobile here */

.mobile-funeral-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 30px;
}

.mobile-funeral-card-image {
  width: 90px;
  height: 90px;
  margin-right: 13px;
  border-radius: 10px;
}

.mobile-funeral-card-name {
  font-family: "NotoSanskr-R";
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.78px;
  color: #171717;

  margin-top: -5px;
}

.mobile-funeral-card-price {
  opacity: 0.9;
  font-family: "NotoSanskr-R";
  font-size: 1rem;

  line-height: 1.2;
  letter-spacing: 0.64px;
  color: #171717;
}

.mobile-funeral-card-socre-view {
  font-family: "NotoSanskr-R";
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.64px;

  opacity: 0.9;
  color: #171717;
}

.mobile-funeral-show-detail {
  opacity: 0.9;
  font-family: "NotoSanskr-R";
  font-size: 0.8rem;
  line-height: 1.84;
  letter-spacing: -0.5px;
  color: rgba(23, 23, 23, 0.9);
}

.mobile-funeral-card-funeral-contents {
  font-family: "NotoSanskr-R";
  font-size: 0.9rem;
  line-height: 1.37;
  letter-spacing: -0.82px;
  color: rgba(114, 114, 114, 0.9);
}
